@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
  }
  
  @font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
  }
  
  @font-face {
    font-family: "PT Sans";
    font-style: italic;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
  }
  
  @font-face {
    font-family: "PT Sans";
    font-style: italic;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
  }
  
  
  @font-face {
    font-family: "PT Sans Narrow";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
  }

  html {
    height: 100%;
  }
body
{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    background-color: #FFFFFF;
    color: black;
   
}


/*Стили на главную страницу */

li
{
  list-style-type: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.navigation
{
  height: 65px;
  width: 1200px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
 
}
.navigation-list 
{
  display: flex;
  padding-left: 33px;
  width: 427px;

}
.navigation-user
{
  max-width: 250px;
  margin-left: auto;
}
.navigation-item
{
  margin-left: 10px;
}
.navigation-item a
{
    
    color: black;
    background-color: #FFFFFF;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    text-decoration: none;
}

.page-container
{
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  
}
.main-index
{
  margin: 0 auto;
  padding: 0;
  width: 1200px;
}
.welcome
{
    background: url("../img/pictures/welcome.jpg") no-repeat ;
    width: 1200px;
    height: 485px;   
}
.welcome-logo
{
  display: block;
  margin: 0 auto;
  padding-top: 51px;
}
.line-logo
{
  display: flex;
  margin-top: 25px;
  padding: 0;
}
.description
{
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 1200px;
  height: 282px;
  margin-top: 63px;
}

.description-sedona
{ 
  
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    
}

.description-consider
{
    color: #333333;
    font-size: 22px;
    line-height: 36px;
}
.advantages
{
  width: 1200px;
  height:1535px;
}

.advantages-service
{
  display: flex;
  width: 1200px;
  margin: 0;
  padding: 0;
}

.advantages-list
{
display: grid;
grid-template-columns: repeat(3, 400px);
column-gap: 0;
row-gap: 0;
margin: 0;
padding: 0;
grid-template-areas: "first second second"
                      "block3 block4 block5"
                       "block6 block6 block7"
                       "block8 block9 block10"; 
}
.first-block
{
  grid-area: first;
}
.second-block
{
  grid-area: second;
}
.block3
{
  grid-area: block3;
  background: rgba(131, 179, 211, 0.12);
}
.block4
{
grid-area: block4;
background: #FFFFFF;
}
.block5
{
  grid-area: block5;
  background: rgba(131, 179, 211, 0.12);
}
.block6
{
  grid-area: block6;
}
.block7
{
  grid-area: block7;
}
.block8
{
  grid-area: block8;
  background: rgba(131, 179, 211, 0.12);
}
.block9
{
  grid-area: block9;
  background: rgba(131, 179, 211, 0.2);
}
.block10
{
grid-area: block10;
background: rgba(131, 179, 211, 0.12);
}
.advantages-item
{
  width: 400px;
  height: 384px;
  text-align: center;
  display: flex;
  flex-direction: column;
}


.img-item-index
{
  width: 74px;
  height: 72px;
  margin: 0 auto;
  padding-top: 85px;
  padding-bottom: 23px;
}

.advantages-title-white
{
font-weight: bold;
font-size: 24px;
line-height: 28px;
text-transform: uppercase;
color: #FFFFFF;
width: 400px;
height: 60px;
text-align: center;
padding-top: 89px;
margin: 0;
}
.advantages-description-white
{
color: #FFFFFF;
font-size: 18px;
line-height: 21px;
text-align: center;
padding-bottom: 77px;
padding-left: 90px;
padding-right: 90px;
}
.block-item
{
  background-color:#83B3D3; 
  width: 400px;
  height: 384px
}
.advantages-title
{
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;
text-transform: uppercase;
margin-top: 23px;
margin-bottom: 23px;
}
.title-block
{
  padding-top: 78px;
}
.advantages-description-service
{
  font-weight: normal;
font-size: 18px;
line-height: 21px;
color: #333333;
padding-left: 75px;
padding-right: 75px;
padding-bottom: 79px;
margin: 0 auto;

}
.advantages-description
{
font-weight: normal;
font-size: 18px;
line-height: 21px;
color: #333333;
margin-top: 25px;
margin-bottom: 26px;
padding-left: 75px;
padding-right: 75px;
}
.hotel-search
{
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 1200px;
  height: 282px;
  margin-top: 63px;
}
.hotel-search-title
{
font-weight: bold;
font-size: 30px;
line-height: 36px;
text-transform: uppercase;
margin-bottom: 15px;
}
.hotel-search-description
{
font-weight: normal;
font-size: 22px;
line-height: 26px;
color: #333333;
margin-bottom: 86px;
}
.hotel-search-link 
{
  padding: 15px 150px;
  font-weight: bold;
  border: 2px solid #756257;
  background-color:#756257;
  color: #FFFFFF;
  text-decoration: none;
  border-radius: 10px;
  width: 575px;
  height: 60px;
}

.appointment 
{
  background: url("../img/pictures/background.jpg") no-repeat;
  width: 1200px;
  height: 411px;
  text-align: center;
  display: block;
}

.title-form
{ 
font-weight: bold;
font-size: 30px;
line-height: 36px;
text-transform: uppercase;
color: #FFFFFF;
padding-top:94px;
}
.description-form
{
padding-top: 15px;
padding-bottom: 26px;
font-weight: normal;
font-size: 22px;
line-height: 26px;
color: #FFFFFF;
}
.field-email
{
width: 600px;
height: 56px;
border: 1px solid white;
border-radius: 10px 0px 0px 10px;
background: #F2F2F2;

}
.button-subscribe
{
font-weight: bold;
font-size: 20px;
line-height: 26px;
color: #FFFFFF;
text-transform: uppercase;
background: #83B3D3;
border: 2px solid #83B3D3;
border-radius: 0px 10px 10px 0px;
width: 200px;
height: 60px;
}

.footer-contacts-address-phone
{
font-weight: normal;
font-size: 40px;
line-height: 40px;
color: #000000;
text-transform: uppercase;
text-decoration: none;
}

.page-footer
{
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
}
.footer-list
{
  display: flex;
  width: 106px;
  margin-top: 50px;
}
.footer-social-item
{
margin-left: 29px;
}

.phone-number
{
  width: 720px;
  text-align: center;
  margin-top: 29px;
}

.logo-htmlacademy
{
  width: 115px;
  margin-top: 29px;
}



/*Стили на каталог */

.catalog-filter-group
{
  display: flex;
  flex-direction: column;
  width: 170px;
  height: 145px;
  margin-left: 71px;
}
.catalog-filter-group-2
{
  display: flex;
  flex-direction: column;
  width: 170px;
  height: 145px;
  margin-left: 67px;
}
.catalog-filter-list
{
  margin-top: 30px;
  padding: 0;
}
.catalog-filter-item
{
  margin-bottom: 13px;
}
.block-change-price
{
  display: grid;
  grid-template-columns: repeat(2, 150px);
 gap: 32px;
   margin-top: 30px;
}
.filter-button-catalog
{
  display: flex;
  flex-direction: column;
  margin-right: 72px;
  
}
.filter-input-stily
{
  border: 2px solid #FFFFFF;
box-sizing: border-box;
border-radius: 4px;
height: 48px;
width: 143px;

}
.block-filter
{
  display: flex;
  flex-direction: column;
width: 1200px;
height: 408px;
margin: 0 auto;
padding: 0;
background: url("../img/pictures/catalog-background.jpg") no-repeat;
color: #FFFFFF;
margin-bottom: 44px;
}

.filter-catalog
{
  width: 1200px;
display: flex;
justify-content: space-between;
align-items: center;
}
.breadcrumbs-header
{
  margin-left: 71px;
}
.page-title
{
font-weight: bold;
font-size: 60px;
line-height: 78px;
width: 528px;
height: 68px;
margin-top: 35px;
margin-bottom: 5px;
}

.breadcrumbs-list
{
  display: flex;
  justify-content: space-between;
  width: 110px;
  margin-bottom: 45px;
  padding: 0;
  
}
.breadcrumbs-link
{
font-weight: normal;
font-size: 16px;
line-height: 21px;
}
.catalog-filter-title
{
font-weight: bold;
font-size: 20px;
line-height: 26px;
}

.control-label
{
font-weight: normal;
font-size: 18px;
line-height: 23px;

}
.block-control
{
  margin-bottom: 13px;
}
.block-control-all
{
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.range-toggle
{
  width: 20px;
height: 20px;
  background: #FFFFFF;
border-radius: 5px;
}
.button-aplly
{
font-weight: bold;
font-size: 16px;
line-height: 21px;
text-transform: uppercase;
color: #FFFFFF;
background: #83B3D3;
border: 2px solid #83B3D3;
border-radius: 4px;
width: 160px;
height: 48px;
margin-bottom: 20px;
}
.button-reset
{
font-weight: normal;
font-size: 18px;
line-height: 23px;
color: #FFFFFF;
background: none;
border: none;
}

.filter-catalog
{
  display: flex;
  margin: 0 auto;
  width: 1200px;
  
}
.filter-button
{
  margin-left: 81px;
  width: 160px;
  display: flex;
  margin-left: 81px;
}
.button-border
{
border: 2px solid #E6E6E6;
border-radius: 4px;
width: 48px;
height: 48px;
margin-right: 8px;
}

.select-control
{
width: 287px;
height: 48px;
border: 2px solid #E6E6E6;
box-sizing: border-box;
border-radius: 4px;
}
.sorting-label
{
font-weight: bold;
font-size: 30px;
line-height: 39px;
text-transform: uppercase;
margin-right: 192px;
}

option
{
font-weight: normal;
font-size: 18px;
line-height: 23px;
color: #333333;
}
.product
{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 1200px;
  margin-top: 75px;
  padding: 0;
}


.product-item
{
  display: flex;
   justify-content: space-between;
   margin: 0;
   margin-bottom: 30px;
   margin-top: 30px;
   width: 1200px;
}
.description-hotel
{
  display: flex;
  justify-items: center;
  margin: 0;
  width: 535px;
  height: 120px;
  
}


.product-image
{
 
  width: 180px;
  margin: 0 ;
  padding: 0;

}

.product-title
{
  margin: 0;
  padding: 0;
  padding-bottom: 2px;
}
.place-price
{
  display: flex;
   padding-bottom: 31px;
   padding-top: 2px;
}



.blok-description
{
  display: flex;
  flex-direction: column;
  
  padding-left: 37px;
}




.product-link
{
  display: flex;
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
  text-decoration: none;
  margin: 0;
  padding: 0;
  
}
.stars-item
{
  margin-right: 7px;
  
}

.stars-list
{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-bottom: 31px;
 
}
.place
{
  margin: 0;
padding: 0;
font-weight: normal;
font-size: 18px;
line-height: 23px;
color: #333333;
margin-right:39px ;

}
.product-price
{
  margin: 0;
padding: 0;
font-weight: normal;
font-size: 18px;
line-height: 23px;
color: #333333;
margin-left:39px ;

}
.button-details
{

font-weight: bold;
font-size: 16px;
line-height: 21px;
text-transform: uppercase;
background: #756257;
border-radius: 4px;
color: #FFFFFF;
text-decoration: none;
text-align: center;
margin-right: 4px;
padding-top: 9px;
padding-bottom: 10px;
padding-right: 25px;
padding-left: 25px;
}
.button-wishlist
{
  font-weight: bold;
font-size: 16px;
line-height: 21px;
text-transform: uppercase;
color: #FFFFFF;
background: #83B3D3;
border-radius: 4px;
text-decoration: none;
margin-left: 4px;
padding-top: 9px;
padding-bottom: 10px;
padding-right: 25px;
padding-left: 25px;
}
.rating-balls
{
  
font-weight: normal;
font-size: 16px;
line-height: 21px;
text-transform: uppercase;
color: #333333;
background: #F2F2F2;
border-radius: 4px;
border: 2px solid #F2F2F2;
width: 160px;
margin-top: 31px;
text-align: center;
padding-top: 9px;
padding-bottom: 10px;
}
.rating
{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

.button-more
{
font-weight: bold;
font-size: 20px;
line-height: 26px;
text-transform: uppercase;
color: #FFFFFF;
background: #83B3D3;
border-radius: 4px;
border: 2px solid #83B3D3;
width: 625px;
height: 55px;
margin: 0 auto;
margin-bottom: 61px;
margin-top: 61px;
}

.pagination
{
  display: flex;
  
}
.pagination-item
{
width: 55px;
height: 55px;
background: #83B3D3;
border-radius: 4px;
border: 2px solid #83B3D3;
margin-right: 8px;
}
.pagination-link
{
font-weight: bold;
font-size: 20px;
line-height: 26px;
text-transform: uppercase;
text-decoration: none;
color: #FFFFFF;
}
.quantity-page-title
{
font-weight: normal;
font-size: 18px;
line-height: 23px;
color: #333333;
}
.title-form-2
{
  font-weight: bold;
font-size: 30px;
line-height: 36px;
text-transform: uppercase;
color: #000000;
}
.description-form-2
{
font-weight: normal;
font-size: 22px;
line-height: 26px;
color: #333333;
}
.button-subscribe-2
{
font-weight: bold;
font-size: 20px;
line-height: 26px;
text-transform: uppercase;
color: #FFFFFF;
background: #83B3D3;
border-radius: 0px 10px 10px 0px;
border: 2px solid #83B3D3;
}

.switch-page
{
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 1056px;
  align-items: center;
}

.select-quantity
{
  width: 160px;
height: 48px;
border: 2px solid #E6E6E6;
box-sizing: border-box;
border-radius: 4px;
margin-left: 51px;
}

.appointment-2
{
  width: 1200px;
  height: 411px;
  text-align: center;
  display: block;
  margin: 0 auto;
  padding: 0;
  margin-top: 89px;
}

.button-subscribe-2
{
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
  text-transform: uppercase;
  background: #83B3D3;
  border: 2px solid #83B3D3;
  border-radius: 0px 10px 10px 0px;
  width: 200px;
  height: 60px;
}
.appointment-form
{
 display: flex;
 align-items: center;
justify-content: center;
}