@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
  }
  
  @font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
  }
  
  @font-face {
    font-family: "PT Sans";
    font-style: italic;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
  }
  
  @font-face {
    font-family: "PT Sans";
    font-style: italic;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
  }
  
  
  @font-face {
    font-family: "PT Sans Narrow";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
  }

body
{
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    background-color: #FFFFFF;
    color: black;
}

/*Стили на главную страницу */
.navigation
{
  display: flex;
  justify-content: space-between;
}
.navigation-list 
{
  display: flex;

}
.navigation-item
{
  margin-left: 10px;
}
.navigation-item a
{
    
    color: black;
    background-color: #FFFFFF;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    text-decoration: none;
}

.welcome
{
    background: url("../img/pictures/welcome.jpg") no-repeat ;
    width: 1200px;
    height: 485px;   
}

.description
{
  text-align: center;
  width: 1200px;
  height: 282px;
}

.description-sedona
{ 
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    
}

.description-consider
{
    color: #333333;
    font-size: 22px;
    line-height: 36px;
}



.advantages-title-white
{
font-weight: bold;
font-size: 24px;
line-height: 28px;
text-transform: uppercase;
color: #FFFFFF;
width: 400px;
height: 60px;
}
.advantages-description-white
{
color: #FFFFFF;
font-size: 18px;
line-height: 21px;

}
.block-item
{
  background-color:#83B3D3 ; 
}
.advantages-title
{
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;
text-transform: uppercase;
}

.advantages-description
{
font-weight: normal;
font-size: 18px;
line-height: 21px;
color: #333333;
}
.hotel-search-title
{
font-weight: bold;
font-size: 30px;
line-height: 36px;
text-transform: uppercase;
width: 720px;
height: 50px;
}
.hotel-search-description
{
font-weight: normal;
font-size: 22px;
line-height: 26px;
color: #333333;
}
.hotel-search-link 
{
  
  padding: 15px 60px;
  font-weight: bold;
  border: 2px solid #756257;
  background-color:#756257;
  color: #FFFFFF;
  text-decoration: none;
  border-radius: 10px;
}

.appointment 
{
  background: url("../img/pictures/background.jpg") no-repeat;
  width: 1200px;
  height: 411px;
}

.title-form
{ 
font-weight: bold;
font-size: 30px;
line-height: 36px;
text-transform: uppercase;
color: #FFFFFF;
}
.description-form
{
font-weight: normal;
font-size: 22px;
line-height: 26px;
color: #FFFFFF;
}
.button-subscribe
{
font-weight: bold;
font-size: 20px;
line-height: 26px;
color: #FFFFFF;
text-transform: uppercase;
background: #83B3D3;
border: 2px solid #83B3D3;
border-radius: 0px 10px 10px 0px;
padding: 10px 25px;
}

.footer-contacts-address-phone
{
font-weight: normal;
font-size: 40px;
line-height: 40px;
color: #000000;
text-transform: uppercase;
text-decoration: none;
}

.block-filter
{
  background: url("../img/pictures/catalog-background.jpg") no-repeat;
  width: 1200px;
  height: 408px;
  color: #FFFFFF;
}



/*Стили на каталог */

.page-title
{
font-weight: bold;
font-size: 60px;
line-height: 78px;

}
.breadcrumbs-link
{
font-weight: normal;
font-size: 16px;
line-height: 21px;
}
.catalog-filter-title
{
font-weight: bold;
font-size: 20px;
line-height: 26px;
}
.filter-catalog
{
  display: flex;
}
.control-label
{
font-weight: normal;
font-size: 18px;
line-height: 23px;
}
.button-aplly
{
font-weight: bold;
font-size: 16px;
line-height: 21px;
text-transform: uppercase;
color: #FFFFFF;
background: #83B3D3;
border: 2px solid #83B3D3;
border-radius: 4px;
width: 160px;
height: 48px;
}
.button-reset
{
font-weight: normal;
font-size: 18px;
line-height: 23px;
color: #FFFFFF;
background: none;
border: none;
}
.sorting-label
{
font-weight: bold;
font-size: 30px;
line-height: 39px;
text-transform: uppercase;
}

option
{
font-weight: normal;
font-size: 18px;
line-height: 23px;
color: #333333;
}
.product-title, .product-link
{
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
  text-decoration: none;
}
.place
{
font-weight: normal;
font-size: 18px;
line-height: 23px;
color: #333333;
}
.product-price
{
font-weight: normal;
font-size: 18px;
line-height: 23px;
color: #333333;
}
.button-details
{
font-weight: bold;
font-size: 16px;
line-height: 21px;
text-transform: uppercase;
background: #756257;
border-radius: 4px;
border: 2px solid #756257;
color: #FFFFFF;
text-decoration: none;
}
.button-wishlist
{
  font-weight: bold;
font-size: 16px;
line-height: 21px;
text-transform: uppercase;
color: #FFFFFF;
background: #83B3D3;
border-radius: 4px;
border: 2px solid #83B3D3;
text-decoration: none;
}
.rating-balls
{
font-weight: normal;
font-size: 16px;
line-height: 21px;
text-transform: uppercase;
color: #333333;
background: #F2F2F2;
border-radius: 4px;
border: 2px solid #F2F2F2;
}

.button-more
{
font-weight: bold;
font-size: 20px;
line-height: 26px;
text-transform: uppercase;
color: #FFFFFF;
background: #83B3D3;
border-radius: 4px;
border: 2px solid #83B3D3;
width: 625px;
height: 55px;
}

.pagination
{
  display: flex;
}
.pagination-item
{
width: 55px;
height: 55px;
background: #83B3D3;
border-radius: 4px;
border: 2px solid #83B3D3;
}
.pagination-link
{
font-weight: bold;
font-size: 20px;
line-height: 26px;
text-transform: uppercase;
text-decoration: none;
color: #FFFFFF;
}
.quantity-page-title
{
font-weight: normal;
font-size: 18px;
line-height: 23px;
color: #333333;
}
.title-form-2
{
  font-weight: bold;
font-size: 30px;
line-height: 36px;
text-transform: uppercase;
color: #000000;
}
.description-form-2
{
font-weight: normal;
font-size: 22px;
line-height: 26px;
color: #333333;
}
.button-subscribe-2
{
font-weight: bold;
font-size: 20px;
line-height: 26px;
text-transform: uppercase;
color: #FFFFFF;
background: #83B3D3;
border-radius: 0px 10px 10px 0px;
border: 2px solid #83B3D3;
}